@model My.World.Api.Models.DocumentsModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Breadcrumb"] = "Document / View";
}

<style>

    .ql-viewer {
        box-sizing: border-box;
        line-height: 1.42;
        height: 100%;
        outline: none;
        overflow-y: auto;
        padding: 12px 15px;
        tab-size: 4;
        -moz-tab-size: 4;
        text-align: left;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
</style>

<div class="fade-in">
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <h2>@Model.title</h2>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 20px; ">
        <div class="col-lg-6">
            <div id="DocContainer" style="min-height: 30em; max-width: 50em; margin: 0 auto; margin-bottom: 200px; border: 1px solid #dedede; padding: 5px 0; color: black; font-weight: 400; font-size: 1.125rem; font-family: Arial, Helvetica, sans-serif; line-height: 2rem; background: white;  border-bottom: 1px solid grey;">
                <div id="DocBody" class="ql-viewer"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {
            html = htmlDecode('@Model.body');
            $('#DocBody').append(html);
        });
    </script>
}