<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/img/Logo_192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/Logo_32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/Logo_96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/Logo_16.png">
    <link rel="manifest" href="~/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Main styles for this application-->
    <link href="~/css/style.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body class="c-app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="~/vendors/coreui/coreui/js/coreui.bundle.min.js"></script>
    <!--[if IE]><!-->
    <script src="~/vendors/coreui/icons/js/svgxuse.min.js"></script>
    <!--<![endif]-->
   
</body>
</html>
