@model My.World.Web.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>Error</h1>

<div>
    <h4>ErrorViewModel</h4>
    <hr />
    @Model.Environment
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
