@model My.World.Web.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row d-flex justify-content-center align-items-center">
    <div class="text-center mb-3">
        @{
            var result = string.IsNullOrEmpty(Model.StatusCode) == true ? "500" : Model.StatusCode;

            <h1 class="error-title" style="font-size:12rem;">@result</h1>
        }
        <h5>@Model.Message</h5>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center">
    <h2>
        <a class="btn btn-lg btn-primary" asp-controller="Dashboard" asp-action="Index" target="_self">
            <i class="material-icons" translate="no">home</i>&nbsp; Dashboard
        </a>
    </h2>
</div>